*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1 {
  font-family: DM_Sans;
}

article .description {
  font-family: Roboto_Regular;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner a {
  text-decoration: none;
}

.banner a img {
  width: 3em;
  margin-left: 4em;
}

.banner a h1,
.banner a .h1 {
  font-size: 1.7em;
  color: #d04f4f;
}

.search-bar form {
  display: flex;
  background-color: #e7e7e7;
  border-radius: 0.3em;
  height: 3em;
}

.search-bar form #research {
  background-color: #e7e7e7;
  width: 100%;
  border: none;
  padding-left: 0.5em;
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

.search-bar form .button {
  border: none;
  background-color: #e7e7e7;
  margin-left: 1.5em;
  margin-top: 0.7em;
}

.search-bar form .button .fa-search {
  font-size: 1.5em;
}

.navbar-expand .nav-dropdown-container {
  max-width: 100%;
}

.nav-dropdown-container .button-tags {
  text-decoration: none;
  color: white;
  border: transparent;
  border-radius: 0.3em;
  width: 8em;
  margin-top: 1em;
}

.fa-chevron-down {
  margin-left: 1em;
  padding-right: 1em;
}

.fa-chevron-up {
  margin-left: 1em;
}

.nav-dropdown-ingredients,
.nav-dropdown-appliances,
.nav-dropdown-ustensils {
  margin: 0.5em 1.5em 1.5em 0.8em;
  border-radius: 0.3em;
  max-height: 4em;
  width: 9em;
  overflow: hidden;
}

.button-tags {
  display: flex;
}

#search-ingredients,
#search-appliances,
#search-ustensils {
  border: none;
  display: none;
  color: white;
}

#search-ingredients::placeholder,
#search-appliances::placeholder,
#search-ustensils::placeholder {
  color: white;
  opacity: 0.5;
}

.nav-list-ingredients,
.nav-list-appliances,
.nav-list-ustensils {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 1em;
}

.li-ingredients,
.li-appliances,
.li-ustensils {
  color: white;
  list-style: none;
  cursor: pointer;
}

.navbar-expand .nav-dropdown-ingredients, 
.navbar-expand .nav-dropdown-ingredients .button-tags,
.navbar-expand .nav-dropdown-ingredients .button-tags #search-ingredients{
  background-color: #3282f7;
}

.navbar-expand .nav-dropdown-appliances,
.navbar-expand .nav-dropdown-appliances .button-tags ,
.navbar-expand .nav-dropdown-appliances .button-tags #search-appliances {
  background-color: #68d9a4;
}

.navbar-expand .nav-dropdown-ustensils {
  background-color: #ed6454;
}

.navbar-expand .nav-dropdown-ustensils .button-tags {
  background-color: #ed6454;
}

.navbar-expand .nav-dropdown-ustensils .button-tags #search-ustensils {
  background-color: #ed6454;
}

.msg-error .msg-no-recipe {
  font-size: 2em;
  padding-top: 2em;
}

.part-recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.part-recipes article {
  width: 23em;
  height: 23.5em;
  background-color: #e7e7e7;
  border-radius: 0.3em;
  overflow: hidden;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.part-recipes article .picture {
  background-color: #c7bebe;
  height: 10em;
  border-radius: 0.3em 0.3em 0 0;
}

.part-recipes article .name-and-time,
.part-recipes article .ingredients-and-description {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0em 1em;
}

.part-recipes article .name-and-time {
  justify-content: space-between;
}

.part-recipes article .name-and-time h2,
.part-recipes article .name-and-time .h2 {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
}

.part-recipes article .name-and-time p {
  font-weight: bold;
}

.part-recipes article .ingredients-and-description {
  padding-top: 0;
  font-size: 0.7em;
}

.part-recipes article .ingredients-and-description .ingredients {
  padding: 0em 1em 0em 0.5em;
}

.part-recipes article .ingredients-and-description .ingredients .ingredient {
  margin-bottom: 0;
}

.part-recipes article .ingredients-and-description .ingredients .ingredient .name-ingredient {
  font-weight: bold;
}

.part-recipes article .ingredients-and-description .description {
  width: 15em;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tags-container {
  margin-top: 1em;
  flex-wrap: wrap;
  display: flex;
}

.tags-container .tag-ingredients,
.tags-container .tag-appliances,
.tags-container .tag-ustensils {
  margin: 0em 0.7em 0.7em 0em;
}

.tags-container .tag-ingredients {
  background-color: #3282f7;
}

.tags-container .tag-appliances {
  background-color: #68d9a4;
}

.tags-container .tag-ustensils {
  background-color: #ed6454;
}

.tags-container .tags {
  color: white;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  max-width: 8em;
  display: flex;
  justify-content: center;
}

.tags-container .tags p {
  margin-bottom: 0;
}

.tags-container .tags .fa-times-circle {
  font-size: 1.2em;
  padding: 0.1em 0em 0em 0.5em;
}

@media screen and (max-width: 992px) {

  #search-ingredients,
  #search-appliances,
  #search-ustensils {
    font-size: 0.8em;
  }

  .nav-list-ingredients,
  .nav-list-appliances,
  .nav-list-ustensils {
    display: flex;
    flex-direction: column;
  }

  .nav-dropdown-ingredients,
  .nav-dropdown-appliances,
  .nav-dropdown-ustensils {
    margin: 0.5em 1.5em 1.5em 0.8em;
    border-radius: 0.3em;
    max-height: 4em;
    width: 9em;
    overflow: hidden;
  }
}

@media screen and (max-width: 770px) {
  .nav-dropdown-container {
    display: flex;
    flex-direction: column;
  }

  .nav-dropdown-ingredients,
  .nav-dropdown-appliances,
  .nav-dropdown-ustensils {
    margin: 0.5em 1.5em 1.5em 0.8em;
    border-radius: 0.3em;
    max-height: 4em;
    width: 9em;
    overflow: hidden;
  }
}